<!DOCTYPE html>

<html>

<head>
    <title> About </title>
    <link rel='stylesheet' href='/css/styles.css'> 

</head>

<body>
       <div class='main-content'>
           {{>header}}

            <img class='portrait' src='/img/doggo.jpg' >
            <p> This site was created by Guillermo Vidal. It uses data from mapbox.com and 
                weatherstack.com to display the current weather on the searched location </p>


       </div>
        
    
    {{>footer}}
</body>
</html>